@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import "tailwindcss";


* {
  /* cursor: url('/public/assets/cursor.png'), auto; */
    /* cursor: pointer; */
}



body {
  background-color: #2A397E;
  background-image: url("/assets/imperfections\ 10percent.png");
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  color: #ECE0BA;
  font-family: "Bangers", system-ui;
  font-weight: 400;
}

.text-stroke {
  text-shadow:
    -3px -3px 0 black,
     3px -3px 0 black,
    -3px  3px 0 black,
     3px  3px 0 black;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ECE0BA; 
}

::-webkit-scrollbar-thumb {
  background-color: #ff4d4d; 
  border-radius: 20px;
  border: 2px solid #ff4d4d; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff6666; 
}

::selection {
  background-color: #ff4d4d; 
  color: ECE0BA; 
}

